:root {
    --light: #fafbfa;
    --light-2: #e6e8e9;
    --brand: #f8be12;
    --dark-2: #616759;
    --dark: #332f31;

    --light-alt: #ffffff;
    --light-2-alt: #f3f3f3;
    --brand-alt: #fdc10f;
    --dark-2-alt: #403f3f;
    --dark-alt: #222222;

    --sgc-padding: 16vw;
}

.wrapper {
    background-color: orchid;
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem 6rem 4rem auto auto 14rem 3rem;
    grid-template-areas:
        "hb1 hb1 hb1 hb1 hb1 hb1 hb1 hb1 hb1 hb1 hb1 hb1"
        "hb2 hb2 hb2 hb2 hb2 hb2 hb2 hb2 hb2 hb2 hb2 hb2"
        "hb3 hb3 hb3 hb3 hb3 hb3 hb3 hb3 hb3 hb3 hb3 hb3"
        "hro hro hro hro hro hro hro hro hro hro hro hro"
        "mn0 mn0 mn0 mn0 mn0 mn0 mn0 mn0 mn0 mn0 mn0 mn0"
        "ft2 ft2 ft2 ft2 ft2 ft2 ft2 ft2 ft2 ft2 ft2 ft2"
        "ft1 ft1 ft1 ft1 ft1 ft1 ft1 ft1 ft1 ft1 ft1 ft1";
}

.hbar-1 {
    grid-area: hb1;
    background-color: var(--dark-alt);
    color: var(--light-alt);
}

.hbar-2 {
    grid-area: hb2;
}

.hbar-3 {
    grid-area: hb3;
    background-color: var(--light-2-alt);
    color: var(--dark-alt);
}

.main-content {
    grid-area: mn0;
    background-color: yellowgreen;
}

.footer-2 {
    grid-area: ft2;
    background-color: lightskyblue;
}

.footer-1 {
    grid-area: ft1;
    background-color: darkorchid;
}

.hero-grid {
    background-color: lightsalmon;
    grid-area: hro;
    display: grid;
    padding: 1.5vw 0;
    grid-gap: 0.8vw;
    grid-template-columns:
        repeat(2, 1.2fr) 1fr;
    /* repeat(auto-fit, [col-start] minmax(100px, 1fr)); */
    grid-template-rows:
        repeat(2, 1fr);
    /* repeat(2, [row-start] minmax(auto, auto)); */
}

.hgi-scaler:before {
    content: "";
    display: block;
    padding-top: 48%;

}

.hero-1 {
    background-color: crimson;
    grid-column: span 2;
    grid-row: span 2
}

.hero-2 {
    background-color: green;
    grid-column: span 1;
    grid-row: span 1;
}

.hero-3 {
    background-color: cornflowerblue;
    grid-column: span 1;
    grid-row: span 1;
}

.sgi-padding {
    padding-left: var(--sgc-padding);
    padding-right: var(--sgc-padding);
    /* padding-right: var(--sgc-padding); */
}

.sgi-margin {
    margin-left: var(--sgc-padding);
    margin-right: var(--sgc-padding);
}

.sgi-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: var(--sgc-padding); */
    /* padding-right: var(--sgc-padding); */

}

.sgi-grid {
    padding-left: var(--sgc-padding);
    padding-right: var(--sgc-padding);
    display: grid;
}